.weather {
  margin: 100px 0 0 0;
  &__city {
    font-size: 36px;
  }
  &Body {
    margin: 25px 0 0 0;
    display: flex;
    &__title {
      font-size: 20px;
    }
    &__current {
      border: 1px solid #d9d9d9;
      padding: 25px;
      flex: 0 0 300px;
    }
    &__days {
      flex: 1 1 auto;
      margin: 0 0 0 35px;
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      padding: 0 0 5px 0;
      &::-webkit-scrollbar {
        width: 20px; 
        height: 5px; 
        background-color: transparent;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
    }
    
      &Item {
        border: 1px solid #d9d9d9;
        padding: 25px 15px 25px;
        flex: 1 0 200px;
        margin: 0 0 0 25px;
        &:first-child {
          margin: 0;
        }
        .weatherBody__title {
          font-size: 17px;
        }
      }
    }
  }
}