.footer {
  &Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    &__logo {
      display: flex;
      align-items: center;
      font-size: 30px;
      font-family: montserrat;
      font-weight: 600;
      img {
        width: auto;
        height: 60px;
        margin: 0 20px 0 0;
      }
    }
  }
}