

@import '~antd/dist/antd.css';
@import '_normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

::selection {}

body {
  overflow: auto;
}
.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  min-height: calc(100vh + 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}